In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import json
import numpy as np
import pandas as pd



from pathlib import Path



from time import time
from IPython.display import clear_output

import warnings
warnings.filterwarnings('ignore')

In [ ]:
# load and mount the google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#openr the folder
!ls
import os
os.chdir('/content/drive/MyDrive/Colab Notebooks/')
!ls

drive  sample_data
 assign2.ipynb		      lab1_sklearn_assignment.ipynb
 assign3_sio.ipynb	      Lab4-Regression-Exercise.ipynb
 assignment2.ipynb	      pythonPlayground.ipynb
 Assignment2.ipynb	      Sio_assignment2.ipynb
 Bank.CSV		     'trialof FinalProject.ipynb'
'Copy of assign3_sio.ipynb'   tutorial.ipynb
'Copy of Yelp_review.ipynb'  'Week_8_Lab_PCA with K-Means Clustering.ipynb'
 FinalProject.ipynb	      yelp_database.db-journal

In [ ]:
#Paths for the json data
REVIEW_PATH = '/content/drive/MyDrive/ml/archive/yelp_academic_dataset_review.json'     # This has review text data with writer's user_id and the corresponding business_id that the review is written for.
BUSINESS_PATH = '/content/drive/MyDrive/ml/archive/yelp_academic_dataset_business.json'  #with location data, attributes, and categories.
USER_PATH = '/content/drive/MyDrive/ml/archive/yelp_academic_dataset_user.json'          #This is user's friend mapping data and has all the related user's metadata .

# These are functions to load data from json format
#The code if ref from: https://www.kaggle.com/hexianwang/yelp-data
def load_rows(file_path, nrows=None, only_return_count=False, verbose=True):
    """
    Returns dataframe from json file
    """
    tic = time()
    with open(file_path) as json_file:
        count = 0
        objs = []
        line = json_file.readline()
        while (nrows is None or count<nrows) and line:
            count += 1
            if not only_return_count:
                obj = json.loads(line)
                objs.append(obj)
            line = json_file.readline()
        toc = time()
        if verbose:
            print(file_path.split('/')[-1], 'loaded. Count =', count, ', Time =', round(toc-tic,2), 'secs.')
        
        if only_return_count:
            return count
        
        return pd.DataFrame(objs)
    
# ref https://datascience.stackexchange.com/questions/60268/load-large-jsons-file-into-pandas-dataframe
#data generator to load data in chunks
def load_rows_gen(file_path, nrows=1e6, verbose=True):
    """
    Returns data in chunks
    """
    with open(file_path) as json_file:
        line = json_file.readline()
        total = 0
        while line:
            count = 0
            objs = []
            tic = time()
            while count<nrows and line:
                count+=1
                obj = json.loads(line)
                objs.append(obj)
                line = json_file.readline()
                total += count
            toc = time()
            print('Loaded chunk of size:', count, ", Time =", round(toc-tic,2), 'secs.')
            yield pd.DataFrame(objs)

In [ ]:
user_df_head = load_rows(USER_PATH, 5)
user_df_head

yelp_academic_dataset_user.json loaded. Count = 5 , Time = 0.44 secs.

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [ ]:
business_df_head = load_rows(BUSINESS_PATH, 5)
business_df_head.head()

yelp_academic_dataset_business.json loaded. Count = 5 , Time = 0.17 secs.

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [ ]:
#Load data about all businesses
business_df = load_rows(BUSINESS_PATH)

yelp_academic_dataset_business.json loaded. Count = 150346 , Time = 5.33 secs.

In [ ]:
%%time

#Here we preprocess our businesses data
def preprocess_business_df(df):
    """
    Preprocess data from BUSINESS_PATH
    returns final DataFrame
    """
    #select businesses which are either Restaurant or serve Food
    mask = df.categories.str.contains('Restaurant', na=False) | df.categories.str.contains('Food', na=False)
    df = df[mask]
    #Changing business_id to numbers
    global businessid_to_idx
    businessid_to_idx = {b_id : idx for idx, b_id in enumerate(df.business_id.unique())}
    df.business_id = df.business_id.map(lambda x: businessid_to_idx[x])

    #TDT
    df.is_open = df.is_open.astype(bool)

    # Exploding attributes [MultiCategorization]
    attr = [col for col in df.attributes.explode().unique() if col is not None]
    lst_of_attr_dict = []
    for attr_dict in df.attributes:
        if not attr_dict:
            lst_of_attr_dict.append({})
            continue

        if 'BusinessParking' in attr_dict:
            if type(attr_dict['BusinessParking']) == str:
                attr_dict['BusinessParking'] = ('True' in attr_dict['BusinessParking'])

        lst_of_attr_dict.append(attr_dict)
    
    attr_df = pd.DataFrame(lst_of_attr_dict, columns=attr)
    for col in attr_df:
        #Handling missing
        #Strategy -> absence of attribute means restauratn doesn't have it
        #ex. If parking is null then restaurant doesn't have parking
        attr_df[col] = attr_df[col].fillna(False).astype(bool)
    
    df = pd.concat([df.reset_index().drop('index', axis=1), attr_df], axis=1)
    df.drop(['attributes'], axis=1, inplace=True)
    
    #Exploding hours ie. getting opening and closing time for various days
    lst_of_time = []
    for time_dict in df.hours:
        if not time_dict:
            lst_of_time.append({})
            continue
        lst_of_time.append(time_dict)
    time_df = pd.DataFrame(lst_of_time)
    df = pd.concat([df, time_df], axis=1).drop('hours', axis=1)
    
    return df

business_df = preprocess_business_df(business_df)
business_df.head()
business_df.to_csv('yelp_business.csv', index=False)

CPU times: user 5.47 s, sys: 124 ms, total: 5.6 s
Wall time: 5.76 s

In [ ]:
# We have less data in this dataset, of 64,629 for business_id. When compaired to the original 85,505.
# Overview of our data

business_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64629 entries, 0 to 64628
Data columns (total 58 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   business_id                 64629 non-null  int64
 1   name                        64629 non-null  object
 2   address                     64629 non-null  object
 3   city                        64629 non-null  object
 4   state                       64629 non-null  object
 5   postal_code                 64629 non-null  object
 6   latitude                    64629 non-null  float64
 7   longitude                   64629 non-null  float64
 8   stars                       64629 non-null  float64
 9   review_count                64629 non-null  int64
 10  is_open                     64629 non-null  bool
 11  categories                  64629 non-null  object
 12  RestaurantsDelivery         64629 non-null  bool
 13  OutdoorSeating              64629 non-null  bool
 14  BusinessAcceptsCreditCards  64629 non-null  bool
 15  BusinessParking             64629 non-null  bool
 16  BikeParking                 64629 non-null  bool
 17  RestaurantsPriceRange2      64629 non-null  bool
 18  RestaurantsTakeOut          64629 non-null  bool
 19  ByAppointmentOnly           64629 non-null  bool
 20  WiFi                        64629 non-null  bool
 21  Alcohol                     64629 non-null  bool
 22  Caters                      64629 non-null  bool
 23  WheelchairAccessible        64629 non-null  bool
 24  GoodForKids                 64629 non-null  bool
 25  RestaurantsAttire           64629 non-null  bool
 26  RestaurantsReservations     64629 non-null  bool
 27  Ambience                    64629 non-null  bool
 28  CoatCheck                   64629 non-null  bool
 29  DogsAllowed                 64629 non-null  bool
 30  RestaurantsTableService     64629 non-null  bool
 31  RestaurantsGoodForGroups    64629 non-null  bool
 32  HasTV                       64629 non-null  bool
 33  HappyHour                   64629 non-null  bool
 34  DriveThru                   64629 non-null  bool
 35  NoiseLevel                  64629 non-null  bool
 36  GoodForMeal                 64629 non-null  bool
 37  BusinessAcceptsBitcoin      64629 non-null  bool
 38  Smoking                     64629 non-null  bool
 39  Music                       64629 non-null  bool
 40  GoodForDancing              64629 non-null  bool
 41  BestNights                  64629 non-null  bool
 42  BYOB                        64629 non-null  bool
 43  Corkage                     64629 non-null  bool
 44  BYOBCorkage                 64629 non-null  bool
 45  AcceptsInsurance            64629 non-null  bool
 46  RestaurantsCounterService   64629 non-null  bool
 47  Open24Hours                 64629 non-null  bool
 48  AgesAllowed                 64629 non-null  bool
 49  DietaryRestrictions         64629 non-null  bool
 50  HairSpecializesIn           64629 non-null  bool
 51  Monday                      48134 non-null  object
 52  Tuesday                     51267 non-null  object
 53  Wednesday                   53556 non-null  object
 54  Thursday                    54447 non-null  object
 55  Friday                      54757 non-null  object
 56  Saturday                    53491 non-null  object
 57  Sunday                      46342 non-null  object
dtypes: bool(40), float64(3), int64(2), object(13)
memory usage: 11.3+ MB

In [ ]:
#load data about users
user_df = load_rows(USER_PATH)
user_df.head()

yelp_academic_dataset_user.json loaded. Count = 1987897 , Time = 65.82 secs.

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [ ]:
%%time
#Preproccess user data
def preprocess_user_df(df):
    #Changing user id to something more suitable for our analysis
    global userid_to_idx
    userid_to_idx = {user : idx for idx, user in enumerate(df.user_id.unique())}
    df.user_id = df.user_id.map(lambda x: userid_to_idx[x])
    #Changing friends ids to new int ids
    df.friends = df.friends.map(lambda x : str([userid_to_idx[user] for user in x.split(',') if user in userid_to_idx]))
    #TDT to datetime
    df.yelping_since = pd.to_datetime(df.yelping_since)
    df.elite = df.elite.replace('', np.nan)
    return df

user_df = preprocess_user_df(user_df)
user_df.to_csv('yelp_user.csv', index=False)

CPU times: user 1min 18s, sys: 383 ms, total: 1min 18s
Wall time: 1min 22s